* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body {
  box-sizing: border-box;
  margin: 0;
  background: #202020;
}
#root {
  max-width: 768px;
  height: max-content;
  color: #f7fff7;
  padding: 16px 16px 62px 16px;
}
